@{
    Style.Require("voucher").AtFoot();

    Script.Require("Voucher.App").AtHead();
}

<div class="wrapper">
    <div class="mod-toolbar-top">
        <div class="left">
            <a class="button primaryAction" id="add">新增</a>
            <a class="button" id="edit">保存</a>
            <a class="button" id="print">打印</a>
            <a class="button" id="audit">审核</a>
            <a class="button" id="copy">复制</a>
            <a class="button" id="delete">删除</a>
        </div>

        <div class="right">
            <a class="button" id="prev" title="上一张">&lt;</a>
            <a class="button" id="prev" title="下一张">&gt;</a>
        </div>
    </div>
    <table></table>
</div>