@{
    Style.Require("voucher").AtFoot();

    Script.Require("Voucher.App").AtHead();
}



<div class="wrapper">
    <div class="mod-toolbar-top">
        <div class="left">
            <a class="button primaryAction" id="add">新增</a>
            <a class="button" id="edit">保存</a>
            <a class="button" id="print">打印</a>
            <a class="button" id="audit">审核</a>
            <a class="button" id="copy">复制</a>
            <a class="button" id="delete">删除</a>
        </div>

        <div class="right">
            <a class="button" id="prev" title="上一张" href="javascript:aa()">&lt;</a>
            <a class="button" id="prev" title="下一张">&gt;</a>
        </div>
    </div>
    <div class="voucher_wrap">
        <div class="voucher_top">
            <div class="mark_wrap">
                <span class="txt">凭证字</span>
                <input id="cw" class="easyui-combobox"  data-options="valueField:'id',textField:'text',width:60,height:30">
                <input id="ss" class="easyui-numberspinner"  data-options="min:10,max:100,width:60,height:30">
                <span class="txt">号</span>
                <span class="date_wrap">
                    <span class="txt">日期</span>
                    <input id="dd" type="text" class="easyui-datebox" style="width:100px;height:30px;">
                </span>
            </div>
            <div class="tit_wrap">
                <h1 class="voucher_tit">记账凭证</h1>
                <span id="vch_year"></span>年第<span id="vch_period"></span>期
            </div>
            <span class="attach_wrap">
                附单据
                <input type="text" class="easyui-numberbox" value="0" data-options="min:0,width:60,height:30">
                张
            </span>
        </div>
        <table class="voucher" id="voucher">
            <thead>
                <tr>
                    <th class="col_operate"></th>
                    <th class="col_summary" colspan="2">摘要</th>
                    <th class="col_subject" colspan="2">会计科目</th>
                    <th class="col_quantity">数量</th>
                    <th class="col_currency">币别</th>
                    <th class="col_money">
                        <strong class="tit">借方金额</strong>
                        <div class="money_unit"> <span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                    </th>
                    <th class="col_money col_credit">
                        <strong class="tit">贷方金额</strong>
                        <div class="money_unit"> <span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="entry_item edit-row">
                    <td class="col_operate"><div class="operate"><a title="增加分录" class="add"></a><a title="删除分录" class="del"></a></div></td>
                    <td class="col_summary" data-edit="summary"><div class="cell_val summary_val" style="display: block;"></div><input type="text" class="edit_summary" autocomplete="off" style="display: none;"></td>
                    <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                    <td class="col_subject" data-edit="subject"><div class="subject-dtl"><div class="cell_val subject_val"></div></div></td>
                    <!-- <td class="col_subject" data-edit="subject"><div class="cell_val subject_val"></div></td> -->
                    <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                    <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                    <td class="col_currency"><div class="cell_val curr_val"></div></td>
                    <td class="col_debite" data-edit="money"><div class="cell_val debit_val"></div></td>
                    <td class="col_credit" data-edit="money"><div class="cell_val credit_val"></div></td>
                </tr>
                <tr class="entry_item">
                    <td class="col_operate"><div class="operate"><a title="增加分录" class="add"></a><a title="删除分录" class="del"></a></div></td>
                    <td class="col_summary" data-edit="summary"><div class="cell_val summary_val"></div></td>
                    <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                    <td class="col_subject" data-edit="subject"><div class="subject-dtl"><div class="cell_val subject_val"></div></div></td>
                    <!-- <td class="col_subject" data-edit="subject"><div class="cell_val subject_val"></div></td> -->
                    <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                    <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                    <td class="col_currency"><div class="cell_val curr_val"></div></td>
                    <td class="col_debite" data-edit="money"><div class="cell_val debit_val"></div></td>
                    <td class="col_credit" data-edit="money"><div class="cell_val credit_val"></div></td>
                </tr>
                <tr class="entry_item">
                    <td class="col_operate"><div class="operate"><a title="增加分录" class="add"></a><a title="删除分录" class="del"></a></div></td>
                    <td class="col_summary" data-edit="summary"><div class="cell_val summary_val"></div></td>
                    <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                    <td class="col_subject" data-edit="subject"><div class="subject-dtl"><div class="cell_val subject_val"></div></div></td>
                    <!-- <td class="col_subject" data-edit="subject"><div class="cell_val subject_val"></div></td> -->
                    <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                    <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                    <td class="col_currency"><div class="cell_val curr_val"></div></td>
                    <td class="col_debite" data-edit="money"><div class="cell_val debit_val"></div></td>
                    <td class="col_credit" data-edit="money"><div class="cell_val credit_val"></div></td>
                </tr>
                <tr class="entry_item">
                    <td class="col_operate"><div class="operate"><a title="增加分录" class="add"></a><a title="删除分录" class="del"></a></div></td>
                    <td class="col_summary" data-edit="summary"><div class="cell_val summary_val"></div></td>
                    <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                    <td class="col_subject" data-edit="subject"><div class="subject-dtl"><div class="cell_val subject_val"></div></div></td>
                    <!-- <td class="col_subject" data-edit="subject"><div class="cell_val subject_val"></div></td> -->
                    <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                    <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                    <td class="col_currency"><div class="cell_val curr_val"></div></td>
                    <td class="col_debite" data-edit="money"><div class="cell_val debit_val"></div></td>
                    <td class="col_credit" data-edit="money"><div class="cell_val credit_val"></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="col_operate"></td>
                    <td colspan="4" class="col_total">合计：<span id="capAmount"></span></td>
                    <td class="col_debite"><div class="cell_val debit_total" id="debit_total"></div></td>
                    <td class="col_credit"><div class="cell_val credit_total" id="credit_total"></div></td>
                </tr>
            </tfoot>
        </table>

        
            <table class="easyui-datagrid"  >
                <thead>
                    <tr>

                        <th data-options="field:'aa',width:180,align:'center'" rowspan="2">摘要</th>
                        <th data-options="field:'aa',align:'center'" rowspan="2">会计科目</th>

                        <th>
                            借方金额

                        </th>
                        <th>
                            贷方金额

                        </th>
                    </tr>
                    <tr>
                        <th class="cc" data-options="field:'cc',align:'center',width:230">

                            <div class="money_unit"><span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                        </th>
                        <th class="cc" data-options="field:'dd',align:'center',width:230">

                            <div class="money_unit"><span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td><div class="col_debite"><div class="cell_val debit_val">3241234</div></div></td>
                        <td><div class="col_credit"><div class="cell_val credit_val">3241234</div></div></td>
                    </tr>
                </tbody>
            </table>
        
    </div>
</div>